---
import Navbar from "@/components/sections/Navbar.astro";
import Layout from "@/layouts/Layout.astro";
import { getVersions } from "@/lib/versions";
var versions = await getVersions();
---

<Layout title={"SteelMC - " + Astro.locals.t("download")}>
  <Navbar />
  <ol class="mt-25 mb-10 flex flex-col gap-5 basis-full shrink-0">
    {
      versions.map((version, idx) => {
        return (
          <li class="pt-2 min-w-130 mx-auto gap-3 px-4 py-2.5 rounded-2xl backdrop-blur-md bg-white/80 dark:bg-teal-950/70 border border-teal-200/60 dark:border-white/10 shadow-xl flex content-center justify-between">
            <div class="p-2 flex flex-col justify-center">
              <h2 class="text-4xl font-bold">
                Version {version.steel_version}
              </h2>
              <p class="text-2xl">For Minecraft {version.mc_version}</p>
            </div>
            <div class="flex flex-col gap-2">
              {version.builds.map((build) => {
                var platform =
                  String(build.platform).charAt(0).toUpperCase() +
                  String(build.platform).slice(1);
                return (
                  <a
                    href={build.download}
                    download={build.name}
                    class="px-6 md:px-8 py-2 font-minecraft font-bold rounded-[50px] text-xs md:text-sm bg-black/5 border border-black/10 text-black/80 dark:bg-white/5 dark:border-white/10 dark:text-white/85 cursor-pointer hover:bg-black/10 dark:hover:bg-white/10 hover:-translate-y-px transition-all duration-200 ease-out text-center"
                  >
                    {platform}
                  </a>
                );
              })}
            </div>
          </li>
        );
      })
    }
  </ol>
</Layout>
